  
  .circle-bg {
    fill: none;
    stroke: black;
    stroke-width: 7;
  }
  
  .circle {
    fill: black;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.green .circle {
    stroke: #4CC790;
  }
  
  .percentage {
    fill: white;
    font-size: 11px;
    text-anchor: middle;
    font-family:  sans-serif;
  }